.performance-header{

padding-top:150px;
text-align:center;

}


.performance-header h1{

font-size:3rem;

}



#performanceContainer{

width:90%;
margin:auto;

}



.performance-card{

height:600px;

margin:50px 0;

border-radius:30px;

background-size:cover;

background-position:center;

position:relative;

overflow:hidden;

cursor:pointer;

transition:.4s;

}



.performance-card:hover{

transform:scale(1.02);

}



.performance-info{

position:absolute;

bottom:40px;

left:40px;


background:
rgba(0,0,0,.45);


backdrop-filter:
blur(15px);


padding:30px;

border-radius:25px;


}



.performance-info h2{

font-size:2.2rem;

margin-bottom:10px;

}



.performance-info p{

margin:5px;

}





.modal{

position:fixed;

inset:0;

background:
rgba(0,0,0,.65);


backdrop-filter:
blur(15px);


display:flex;

justify-content:center;

align-items:center;

z-index:999;


}



.hidden{

display:none;

}



.modal-content{

background:#111;

width:90%;

max-height:90vh;

overflow:auto;

border-radius:30px;

padding:40px;

}



.modal-content img{

width:100%;

border-radius:20px;

}



#closeModal{

float:right;

font-size:30px;

background:none;

border:none;

color:white;

cursor:pointer;

}



.photo-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));

gap:20px;

}



.photo-grid img{

height:200px;

object-fit:cover;

}
